{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h4><a href="/">Rohit Shinde</a></h2>
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>
<p>
  {{ range (.GetTerms "tags") }}
    <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
    {{ end }}
</p>

<p>
    I am on <a href="https://twitter.com/rohitshindein" target="_blank">Twitter</a> where I am quite chatty. I share stories, quick insights, vent about troubles and more.
</p>

<a href="https://twitter.com/rohitshindein?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @rohitshindein</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{ end }}
